extends layout

block content
    div.sidenav
        a(href='#') Add video
        a(href='#') Add user
        a(href='#') Settings
    div.mainBody
        table.styled-table
            tr
                th Brand name
                th Title
                th
            each val, key in movies
                tr
                    td= val.owner
                    td= val.title
                    td(align='center')
                        form(method='get' action='/video')
                            input(type='hidden' name='id' value=key)
                            button(class='openButtton' type='submit') Open
