extends layout

block content
    div.sidenav
        a(href='#') Add video
        a(href='#') Add user
        a(href='#') Settings
    div.mainBody
        table.styled-table
            tr
                th Brand name
                th Title
            tr
                td Gillete
                td New comercial for fusion razor 10 blades.
