extends layout

block content
    div.sidenav
        a(href='#') Add video
        a(href='#') Add user
        a(href='#') Settings
    div.mainBody
        table.styled-table
            tr
                th Brand name
                th Title
            each movie in movies
                tr
                    td= movie.owner
                    td= movie.title
